@media screen and (max-width: 720px) {
  .button {
    display: block;
    padding: 10px;
    background-color: red;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    border: none;
  }



}